#extraRunsContainer {
	min-width: 100%; 
    max-width: 100%;
	height: 400px;
    margin: 0 auto;
	z-index:auto;
}

#container1
{
	min-width: 100%; 
    max-width: 100%;
	height: 400px;
    margin: 0 auto;
	z-index:auto;
}
 #matchesPYearContainer {
	min-width: 100%; 
    max-width: 100%;
	height: 400px;
    margin: 0 auto;
     z-index:auto;
} 
#top10EconomyContainer{

	min-width: 100%; 
    max-width: 100%;
	height: 500px;
    margin: 0 auto;
     z-index:auto;
}
#matchesWonPerTeamPerYearCS{

	min-width: 100%;
	max-width: 100%;
	height: 700px;
    margin: 0 auto;
	 z-index:auto;

}
/* .highcharts-figure{
    min-width: 100%; 
    max-width: 100%;
   
} */

/* #container2 {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
    margin: 0 auto;
    z-index:auto;
} */
/* 
.containerCSS
{
position: relative;
} */